@import "./variables.scss";

#about-page {
  .hero-image {
    max-height: 50vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .about-content {
    background-color: $primary;
    .about-text {
      padding: 1rem;
      color: white;
      .title {
        margin-bottom: 1rem;
        font-size: 1.75rem;
      }

      p {
        white-space: pre-wrap;
        font-weight: normal;
      }
    }

    @media (min-width: 1024px) {
      display: flex;
      align-items: stretch;
      justify-content: center;

      .about-text {
        padding: 2rem;
      }
      .image-container,
      .about-text {
        width: 50%;
        max-width: 700px;
      }
      .image-container {
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
