.react-slideshow-fade-images-wrap > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 100%;
  height: (630px);
}

.react-slideshow-container img {
  height: 100%;
}