$dark: #231F20;

$primary: rgb(0, 86, 125);
$secondary: rgb(202, 54, 37);
$light: rgb(196, 191, 182);

$navHeight: 77.5px;
$text: #111;
$primary: rgb(0, 86, 125);
$secondary: rgb(202, 54, 37);
$light: rgb(196, 191, 182);
$navHeight: 77.5px;
$bodyFont: "Rubik", sans-serif;
